h1 {
  color: black;
  text-align: center;
  background-color: yellow;
  text-decoration: underline;
}
h3 {
  color: yellow;
  text-decoration: underline;
}
body {
  color: yellow;
  font-family:arial
  text-align: center;
  background-color: lightblue;
  background-image: url(https://cdn.pixabay.com/photo/2020/04/03/20/28/nilgans-5000132_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  margin: 100px;
  border: 5px solid yellow;
}
.first-letter {
  font-size: 28px;
}
.words:hover {
  font-size: 24px;
  color: blue;
}
a{
  color:Yellow
  text-decoration:none;
}

}